<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>update-infer,</upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
    <hudson.triggers.TimerTrigger>
      <spec>@daily</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export PATH=$PATH:/var/lib/jenkins/workspace/update-infer/infer/bin/

umask 0022

rm -rf $(find . -name &quot;*.OBJ&quot;)
if test ! -d nspr; then
  hg clone https://hg.mozilla.org/projects/nspr
else
  cd nspr &amp;&amp; hg pull -u &amp;&amp; cd -
fi
if test ! -d nss; then
  hg clone https://hg.mozilla.org/projects/nss
else
  cd nss &amp;&amp; hg pull -u &amp;&amp; cd -
fi

cd nss
make nss_clean_all
USE_64=1 infer --keep-going -o ${JOB_NAME}/ -- make nss_build_all

! DIFF_RESULT=`diff -u ${JENKINS_HOME}/jobs/${JOB_NAME}/lastSuccessful/archive/nss/${JOB_NAME}/bugs.txt ${JOB_NAME}/bugs.txt`
if test -n &quot;$DIFF_RESULT&quot;; then
	echo &quot;$DIFF_RESULT&quot;|mail -v -s &quot;${JOB_NAME} changes&quot; sylvestre@mozilla.com fkiefer@mozilla.com
fi

chmod o+rx $(find nss-infer/ -type d)
chmod -R o+r ${JOB_NAME}
rsync -arv -R  ${JOB_NAME}/ sledru@people.mozilla.org:/home/sledru/public_html/reports/
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>nss/nss-infer/bugs.txt</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>