<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.mercurial.MercurialSCM" plugin="mercurial@2.3">
    <source>http://hg.mozilla.org/mozilla-central/</source>
    <modules></modules>
    <revisionType>BRANCH</revisionType>
    <revision>default</revision>
    <clean>false</clean>
    <credentialsId></credentialsId>
    <disableChangeLog>false</disableChangeLog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 2 * * *
H 10 * * *
H 16 * * *
</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>set -e 

COV_JS=false

echo &quot;Cleanup build&quot;
rm -rf obj-x86_64-pc-linux-gnu/  
rm -rf obj-x86_64-pc-linux-gnu/
rm -rf cov-int/ 
rm -rf cov-build.tar.gz
./mach clobber

export PATH=$PATH:/opt/cov-analysis/bin/
echo &quot;Cleanup previous report&quot;
rm -rf reports/

cat &gt; .mozconfig &lt;&lt;EOF
ac_add_options --enable-debug

mk_add_options MOZ_MAKE_FLAGS=&quot;-j2&quot;
EOF


cat &lt;&lt;EOF &gt; config/user_nodefs.h
#ifndef USER_NODEFS_H
#define USER_NODEFS_H
#nodef MOZ_ASSERT
#endif
EOF

echo &quot;Apply patches on top of the hg repo&quot;
hg qpop -a
hg qpush -a

. /var/lib/jenkins/.cargo/env

echo &quot;Rebuild all&quot;
#cov-configure --gcc --xml-option=skip_file:&quot;(\/tmp\/.*\.(cpp|cc|c))|(\/usr\/.*)|(mozilla\/.*)&quot;
cov-configure --gcc --xml-option=skip_file:&quot;/tmp/.*\.(cpp|cc|c)&quot; --xml-option=skip_file:&quot;conftest\.c*&quot; --xml-option=skip_file:&quot;conftest\.c.*&quot;
if test $COV_JS == true; then
cov-configure --javascript
fi

#--fs-capture-search $(pwd)  
OPTIONS=&quot;&quot;
if test $COV_JS == true; then
OPTIONS=&quot;$OPTIONS --fs-capture-search $(pwd)&quot;
fi

cov-build --dir cov-int $OPTIONS  ./mach --log-no-times build -v

tar zcvf cov-build.tar.gz cov-int/

minimumsize=190000
actualsize=$(du -k cov-build.tar.gz | cut -f 1)
if [ $actualsize -ge $minimumsize ]; then
        sh /opt/upload-to-coverity-fx.sh
else
	echo &quot;Unexpected filesize. Should be at least $minimumsize (found $actualize)&quot;
	exit 1
fi
rm -r cov-build.tar.gz cov-int/

rm -rf obj-x86_64-unknown-linux-gnu obj-x86_64-pc-linux-gnu
exit 0
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.21">
      <recipients>sylvestre@mozilla.com, bpostelnicu@mozilla.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.19">
      <strategy class="hudson.plugins.build_timeout.impl.NoActivityTimeOutStrategy">
        <timeoutSecondsString>7200</timeoutSecondsString>
      </strategy>
      <operationList/>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</project>