<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>4</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.plugins.mercurial.MercurialSCM" plugin="mercurial@2.2">
    <source>http://hg.mozilla.org/mozilla-central/</source>
    <modules></modules>
    <revisionType>BRANCH</revisionType>
    <revision>default</revision>
    <clean>false</clean>
    <credentialsId></credentialsId>
    <disableChangeLog>false</disableChangeLog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>update-infer, </upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
set -e -v

umask 0022
export PATH=$PATH:/var/lib/jenkins/workspace/update-infer/infer/bin/:/var/lib/jenkins/.cargo/bin/

echo &quot;Cleanup previous build&quot;
rm -rf obj-x86_64-unknown-linux-gnu reports/ /tmp/scan-build-*
./mach clobber
./mach configure &amp;&amp; ./mach build-backend --backend=CompileDB &amp;&amp; ./mach build pre-export &amp;&amp; ./mach build export

echo &quot;Build using infer&quot;
infer --keep-going --debug-level 2 --compilation-database obj-*/compile_commands.json

! DIFF_RESULT=`diff -u ${JENKINS_HOME}/jobs/${JOB_NAME}/lastSuccessful/archive/infer-out/bugs.txt infer-out/bugs.txt`
if test -n &quot;$DIFF_RESULT&quot;; then
	echo &quot;$DIFF_RESULT&quot;|mail -v -s &quot;${JOB_NAME} changes&quot; sylvestre@mozilla.com
fi


#chmod o+rx $(find ${JOB_NAME}/ -type d)
#chmod -R o+r ${JOB_NAME}
#rsync -arv -R  ${JOB_NAME}/ sledru@people.mozilla.org:/home/sledru/public_html/reports/
./mach clobber
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>infer-out/bugs.txt</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Mailer plugin="mailer@1.20">
      <recipients>sylvestre@mozilla.com, bpostelnicu@mozilla.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>