<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>4</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.plugins.mercurial.MercurialSCM" plugin="mercurial@1.59">
    <source>http://hg.mozilla.org/comm-central/</source>
    <modules></modules>
    <revisionType>BRANCH</revisionType>
    <revision>default</revision>
    <clean>false</clean>
    <credentialsId></credentialsId>
    <disableChangeLog>false</disableChangeLog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 8 * * * </spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
set -e
umask 0022

export PATH=$PATH:~/.cargo/bin/

CLANG_VERSION=5.0
echo &quot;Cleanup previous report&quot;
rm -rf reports/
python client.py checkout

echo &quot;Cleanup&quot;
./mozilla/mach clobber

export MACH_NO_WRITE_TIMES=on

cat &gt; .mozconfig &lt;&lt;EOF
ac_add_options --enable-debug
ac_add_options --enable-application=mail
ac_add_options --enable-calendar

mk_add_options MOZ_MAKE_FLAGS=&quot;-j23&quot;
EOF

echo &quot;Apply patches on top of the hg repo&quot;
hg qpop -a
hg qpush -a

cd mozilla &amp;&amp; autoconf
cd js/src &amp;&amp; autoconf
cd ../../../

echo &quot;Rebuild all&quot;
scan-build-$CLANG_VERSION ./mozilla/mach --log-no-times build

echo &quot;Only rebuild tb and not fx&quot;
cd obj-x86_64-pc-linux-gnu
cat &gt; rebuild.sh &lt;&lt;EOF
set -e
make export
make
export COMPS=CXX=/usr/share/clang/scan-build-$CLANG_VERSION/libexec/c++-analyzer CC=/usr/share/clang/scan-build-$CLANG_VERSION/libexec/ccc-analyzer
cd mailnews/&amp;&amp; make clean all \$COMPS &amp;&amp; cd -
cd calendar/lightning/ &amp;&amp; make clean &amp;&amp; cd -
cd calendar/libical &amp;&amp; make clean all \$COMPS &amp;&amp; cd -
cd calendar/base/backend/libical/ &amp;&amp; make clean all \$COMPS &amp;&amp; cd -
cd calendar/lightning/ &amp;&amp; make all \$COMPS &amp;&amp; cd -
cd db/ &amp;&amp; make clean all \$COMPS &amp;&amp; cd -
cd ldap/xpcom/ &amp;&amp; make clean all \$COMPS &amp;&amp; cd -
cd mail/ &amp;&amp; make clean all \$COMPS &amp;&amp; cd -
EOF

chmod +x rebuild.sh

scan-build-$CLANG_VERSION -enable-checker optin.performance.Padding -analyzer-config stable-report-filename=true --use-c++=/usr/bin/clang++-$CLANG_VERSION $(pwd)/rebuild.sh

cd ..

echo &quot;Retrieve the last scan-build (-o of scan-build is failing)&quot;
SCAN_BUILD_DIR=$(ls -1d /tmp/scan-build-*|tail -1)
mkdir -p reports/
TARGET=reports/tb-scan-build
rm -rf $TARGET

echo &quot;Move $SCAN_BUILD_DIR&quot;
mv $SCAN_BUILD_DIR $TARGET

echo &quot;Set correct permissions&quot;
chmod o+r $TARGET/*


echo &quot;Send it&quot;
rsync -arv -R $TARGET sledru@people.mozilla.org:/home/sledru/public_html/
# --delete  removed because of .htaccess &amp; .htpasswd

rm -rf obj-x86_64-unknown-linux-gnu $TARGET
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.19">
      <recipients>sylvestre@mozilla.com, bpostelnicu@mozilla.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>