<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>4</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H H * * 6</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
set -e 
cd ~jenkins

cat &gt; stretch/root/run-gcc.sh &lt;&lt;GLOBALEOF
set -e
set -v

export PATH=$PATH:/opt/cov-analysis/bin/
if test ! -d /root/gcc-coverity; then
git clone https://github.com/gcc-mirror/gcc.git /root/gcc-coverity
fi
cd /root/gcc-coverity
git reset --hard origin/master
git pull

echo &quot;Rebuild all&quot;
cov-configure --gcc --xml-option=skip_file:&quot;/tmp/*&quot;
mkdir -p build-gcc
cd build-gcc
mkdir -p cov-int
# jit
../configure --with-gnu-as --with-gnu-ld --disable-bootstrap  --enable-languages=c,c++,fortran,lto,objc  --enable-host-shared

cov-build --dir cov-int make -j 7

tar zcvf cov-build.tar.gz cov-int/

minimumsize=160000
actualsize=$(du -k cov-build.tar.gz | cut -f 1)
if [ $actualsize -ge $minimumsize ]; then
        sh /opt/upload-to-coverity-gcc.sh
else
	echo &quot;Unexpected filesize. Should be at least $minimumsize (found $actualize)&quot;
	exit 1
fi
#rm -r cov-build.tar.gz cov-int/
make distclean||true

rm -rf ../build-gcc
exit 0

GLOBALEOF

chmod +x stretch/root/run-gcc.sh

sudo chroot ~/stretch/ ./root/run-gcc.sh



</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.30">
      <recipients>sylvestre@mozilla.com, bpostelnicu@mozilla.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>