<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>7</daysToKeep>
        <numToKeep>3</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.plugins.mercurial.MercurialSCM" plugin="mercurial@2.10">
    <source>https://hg.mozilla.org/mozilla-central/</source>
    <modules></modules>
    <revisionType>BRANCH</revisionType>
    <revision>default</revision>
    <clean>false</clean>
    <credentialsId></credentialsId>
    <disableChangeLog>false</disableChangeLog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>update-codechecker</upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
set -e -v
rm -rf codechecker-results
rm -rf obj-firefox/

cat &gt; .mozconfig &lt;&lt;EOF
ac_add_options --enable-debug

mk_add_options MOZ_MAKE_FLAGS=&quot;-j16&quot;
mk_add_options AUTOCLOBBER=1
mk_add_options MOZ_OBJDIR=@TOPSRCDIR@/obj-firefox
EOF
./mach clobber

# Kill the server, will be restarted immediatly
kill $(ps fax|grep &quot;CodeChecker&quot;|awk &apos;{print $1}&apos;|head -1)||true

awk &apos;{print &quot;-*&quot;$1&quot;*&quot;}&apos;  tools/rewriting/ThirdPartyPaths.txt &gt; skip.list
cat &gt;&gt; skip.list &lt;&lt;EOF
-/usr/*
-*/xpcom/tests/*
-*/mfbt/tests/*
-*/dom/bindings/Test*
EOF

source ~/workspace/update-codechecker/venv/bin/activate

pip install thrift==0.11.0
pip install psycopg2
export PATH=~/workspace/update-codechecker/build/CodeChecker/bin:/var/lib/jenkins/.cargo/bin/:$PATH
nohup bash ~/run-server-codechecker.sh &amp;
sed -i -e &apos;s|&quot;clangsa&quot;: &quot;clang&quot;|&quot;clangsa&quot;: &quot;clang-12&quot;|g&apos; -e &apos;s|&quot;clang-tidy&quot;: &quot;clang-tidy&quot;|&quot;clang-tidy&quot;: &quot;clang-tidy-12&quot;|g&apos; ~/workspace/update-codechecker/build/CodeChecker/config/package_layout.json

if ! grep clang-tidy-$CLANG_VERSION ~/workspace/update-codechecker/build/CodeChecker/config/package_layout.json; then
	echo &quot;could not find clang-tidy-$CLANG_VERSION in the configuration&quot;
    echo &quot;New version and this file needs to be updated by hand?&quot;
    exit 1
fi

CHECKERS=$(CodeChecker checkers |awk &apos;{print &quot;--enable &quot; $1}&apos;|grep -v -E &apos;(google-readability-todo|android-|hicpp-no-assembler|fuchsia-|debug\.|modernize-use-trailing-return-type|google-readability-avoid-underscore-in-googletest-name|abseil-|readability-implicit-bool-conversion|cppcoreguidelines-avoid-magic-numbers|readability-magic-numbers|readability-uppercase-literal-suffix|llvmlibc-|alpha\.|webkit\.|readability-isolate-declaration|clang-diagnostic-unused-parameter|misc-unused-parameters|hicpp-|google-build-using-namespace)&apos;)
echo $CHECKERS

cargo install --force cbindgen

./mach configure
./mach build pre-export export
./mach build-backend -b CompileDB
CodeChecker analyze --timeout 60 -j 13 obj-firefox/compile_commands.json --checker-config &quot;clang-tidy:readability-else-after-return.WarnOnConditionVariables=0&quot; --analyzer-config clang-tidy:HeaderFilterRegex=\&quot;\&quot; -o codechecker-results $CHECKERS --timeout 120 --skip skip.list || true
  
CodeChecker store codechecker-results/ -n firefox_$(date &quot;+%Y%m%d%H%M&quot;) --url firefox
CodeChecker parse -e html ./codechecker-results/ -o ./reports_html

rm -rf obj-firefox/
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>suppress.txt, skip.list</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
      <followSymlinks>true</followSymlinks>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>